{% extends 'base/base_administrador.html' %}
{% block navbar %}
{% endblock %}
{% block content %}

<h1 class="text-center"> Su contraseña ha sido restablecida correctamente</h1>

<p class="text-center"><a href="{% url 'login_usuario' %}"> Iniciar sesión</a></p>

{% endblock %}
