{% load static %}
<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>{% block title %}Inicio {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    {% block medico %}
      <link href="{% static 'css/own.css' %}" rel="stylesheet">
    {% endblock %}
    {% block myStyles %}{% endblock %}

  </head>

  <body>
    {% block navbar %}
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-default">
      <div class="container">
        <!-- <a class="navbar-brand" href="inicio_responsable">PreVIH</a> -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Paciente
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="{% url 'paciente_alta' %}">Crear Paciente</a>
                <a class="dropdown-item" href="{% url 'paciente_lista' %}">Lista Pacientes</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Antecedentes
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="{% url 'antecedentes_paciente_alta' %}">Crear Antecedente</a>
                <a class="dropdown-item" href="{% url 'paciente_lista' %}">Lista Pacientes</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Citas
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="{% url 'nueva_cita' %}">Crear Cita</a>
                <a class="dropdown-item" href="{% url 'cita_lista' %}">Lista Citas</a>
                
              </div>
            </li>
            <li class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usuario
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Salir</a>
              </div>
            </li>
            </ul>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4"> {% block encabezado_pagina %} Bienvenido a Pre-VIH {% endblock %}</h1>

      <!-- Features Section -->
    <!--  <div class="row">
        <div class="imagen-capasits">
          <img src="{% static "images/UNEME.jpg" %}" width="90%" alt="Uh oh, no se pudo mostrar">
        </div>
      </div>
      <!-- /.row -->

      <hr>

      {% endblock %}
      {% block content %}
      <!--<h1 style="color:#064B5D;"> {% block header_text %}{% endblock %} </h1> -->
      {% endblock %}

      {% block footer %}
      {% endblock%}
    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/own_js.js' %}"></script>

    {% block extrajs %}
    {% endblock %}
  </body>

</html>
