{% extends 'base/base_administrador.html' %}
{% load static %}
{% block myStyles %}
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title> Login </title>

        <!-- Bootstrap core CSS -->
        <!-- <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->

    <!-- Custom own styles for this template  -->
        <!-- <link href="{% static 'css/own.css' %}" rel="stylesheet"> -->
        <!--  -->
  </head>
  <body>
      {% block navbar %}
    <div class="container-login">

        <form id="signup" method="post">
          {% csrf_token %}
            {% if datos_incorrectos != null %}
            <div class="alert alert-danger">
                {{ datos_incorrectos }}
            </div>
            {% endif %}
                <div class="header">

                    <h3>Sign Up</h3>

                </div>
            <div class="jumbotron">
                <div class="sep"></div>
                  <div class="inputs">
                        <fieldset>
                            <input class="form-control" placeholder="Usuario" name="username"
                            type="text" autofocus>

                              <input class="form-control" placeholder="Contraseña" name="password"
                              type="password" id="password">

                              <input class="btn btn-outline-success my-2 my-sm-0 text-center" style="margin-left: 125px;"
                              type="submit" value="Entrar" id="btn_login">
                        </fieldset>
                  </div>
            </div>
        </form>

    </div>

  </body>
</html>


{% endblock %}
