{% extends 'base/base_administrador.html' %}
{% block title %}Agenda Cita{% endblock %}
{% block encabezado %}Agenda Cita{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
    <button type="submit" id="agendar_cita" class="btn btn-primary btn-lg">
        Agendar
    </button>
</form>

{% endblock %}
