{% extends 'base/base_medico.html' %}
{% block title %}Registrar Antecedentes Paciente{% endblock %}
{% block encabezado %}Registrar Antecedentes Paciente{{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	{{ form2.as_p }}
    <button type="submit" id="guardar_ant_paciente" class="btn btn-primary btn-lg">
        Guardar
    </button>
</form>

{% endblock %}
