{% extends 'base/base_administrador.html' %}
{% load filtros %}
{% load static %}
{% block title %}Citas{% endblock %}
{% block encabezado_pagina %}Citas {% endblock %}

{% block content %}




<div class="form-control" >
<h6>Ordenar por:
<select onchange="OrdenarCit(this)">
            <option value="-"> - </option>
            <option value="paciente_fk">Paciente</option>
            <option value="carga_viral">Tipo</option>
            <option value="fecha_cita">Fecha</option>            
</select>
</h6>
    <table id="idTableCit" class="table table-striped">
        <thead>

        <th>#</th>
        <th>Paciente</th>
        <th>Tipo</th>
        <th>Fecha</th>
        <th>Horario</th>
        <th>Estado</th>


        </thead>
        <tbody class="searchable">
          <tr>
            {% for cita in citas %}

                <td>{{ forloop.counter }}</td>
                <td>{{ cita.paciente_fk }}</td>
                <td>
                    {% if cita.carga_viral == 0 %}  
                    <span>Mensual</span>               
                    {% endif %}
                    {% if cita.carga_viral == 1 %}  
                    <span>Carga Viral</span>               
                    {% endif %}
                </td>
                <td>{{ cita.fecha_cita }}</td>
                <td>
                    {% if cita.hora_cita == 8 %}  
                    <span>8:00 AM</span>               
                    {% endif %}
                    {% if cita.hora_cita == 9 %}  
                    <span>9:00 AM</span>               
                    {% endif %}
                    {% if cita.hora_cita == 10 %}  
                    <span>10:00 AM</span>               
                    {% endif %}
                    {% if cita.hora_cita == 11 %}  
                    <span>11:00 AM</span>               
                    {% endif %}
                    {% if cita.hora_cita == 12 %}  
                    <span>12:00 PM</span>               
                    {% endif %}
                    {% if cita.hora_cita == 13 %}  
                    <span>13:00 PM</span>               
                    {% endif %}
                    {% if cita.hora_cita == 14 %}  
                    <span>14:00 PM</span>               
                    {% endif %}
                    {% if cita.hora_cita == 15 %}  
                    <span>15:00 PM</span>               
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary"
                            href=""
                            id="inicia_cita">
                            Iniciar Cita
                        </a>
                    </div>
                </td>

            </tr>
            {% empty %}
            <h3>Aún no hay citas agendadas.</h3>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
