{% extends 'base/base_administrador.html' %}
{% load filtros %}
{% load static %}
{% block title %}Médico Lista{% endblock %}
{% block encabezado_pagina %}Médico Lista {% endblock %}

{% block content %}


<input id="filter"  name="busqueda_medico" type="text" class="form-control"
       placeholder="Buscar Médico" onkeyup="search_table()" >

<hr>

<div class="form-control" >
<h6>Ordenar por:
<select onchange="ordenar(this)">
            <option value="-"> - </option>
            <option value="nombre">Nombre</option>
            <option value="ap_paterno">Apellido Paterno</option>
            <option value="ap_materno">Apellido Materno</option>
            <option value="email">Email</option>
</select>
</h6>
    <table id="idTableMedc" class="table table-striped">
        <thead>

        <th>#</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>RFC</th>
        <th>Fecha de Nacimiento</th>
        <th>Email</th>
        </thead>
        <tbody class="searchable">
          <tr>
            {% for medico in medicos %}
                <td>{{ forloop.counter }}</td>
                <td>{{ medico.nombre }}</td>
                <td>{{ medico.ap_paterno }}</td>
                <td>{{ medico.ap_materno }}</td>
                <td>{{ medico.rfc }}</td>
                <th>{{ medico.nacimiento }}</th>
                <th>{{ medico.email }}</th>
                    <div class="btn-group">
                        <a class="btn btn-primary"
                           href="{% url 'medico_modifica' pk=medico.user_ptr_id %}"
                           id="edita_medico">
                           Editar
                        </a>
                        <a class="btn btn-link" data-toggle="modal"
                          data-target="#modal-medico"
                           id="ver_medico">
                           Ver
                        </a>
                    </div>

                    <div class="modal fade" id="modal-medico" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Datos Médico</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-lg-4">
                                        <label>RUC:</label>
                                        <p>{{ object.ruc }}</p>
                                        <label>RAZÓN SOCIAL:</label>
                                        <p>{{ object.razon_social }}</p>
                                        <label>DIRECCIÓN:</label>
                                        <p>{{ object.direccion }}</p>
                                        <label>TELÉFONO:</label>
                                        <p>{{ object.telefono }}</p>
                                        <label>CORREO:</label>
                                        <p>{{ object.correo }}</p>
                                        <label>ESTADO:</label>
                                        {% if object.estado %}
                                                <p>ACTIVO</p>
                                        {% else %}
                                                <p>INACTIVO</p>
                                        {% endif %}
                                </div>
                        </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </td>
            </tr>
            {% empty %}
            <h3>Aún no hay medicos registrados.</h3>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
