{% extends 'base/base_medico.html' %}
{% load filtros %}
{% load static %}
{% block title %}Lista Pacientes{% endblock %}
{% block encabezado_pagina %}Lista Pacientes {% endblock %}

{% block content %}

<input id="filter"  name="busqueda_medico" type="text" class="form-control"
       placeholder="Buscar Paciente" onkeyup="search_table()" >

<hr>

<div class="form-control" >
<h6>Ordenar por:
<select onchange="ordenarpac(this)">
            <option value="-"> - </option>
            <option value="nombre_paciente">Nombre</option>
            <option value="ap_paterno">Apellido Paterno</option>
            <option value="ap_materno">Apellido Materno</option>
            <option value="institucion">Institucion</option>
</select>
</h6>
    <table id="idTablePac" class="table table-striped">
        <thead>
            
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Edad</th>
        <th>Fecha de Nacimiento</th>
        <th>Institucion</th>
        <th>Sexo</th>


        </thead>
        <tbody class="searchable">
          <tr>
            {% for paciente in pacientes %}

                <td>{{ forloop.counter }}</td>
                <td>{{ paciente.nombre_paciente }}</td>
                <td>{{ paciente.ap_paterno }}</td>
                <td>{{ paciente.ap_materno }}</td>
                <td>{{ paciente.edad }}</td>
                <td>{{ paciente.nacimiento }}</th>
                <td>
                    {% if paciente.der_hab == 0 %}  
                    <span>Si</span>               
                    {% endif %}
                    {% if paciente.der_hab == 1 %}  
                    <span>No</span>               
                    {% endif %}
                </td>
                <td>
                    {% if paciente.institucion == 1 %}  
                    <span>Privada</span>               
                    {% endif %}
                    {% if paciente.institucion == 2 %}  
                    <span>ISSSTE</span>               
                    {% endif %}
                    {% if paciente.institucion == 3 %}  
                    <span>IMSS</span>               
                    {% endif %}
                    {% if paciente.institucion == 4 %}  
                    <span>Seguro social</span>               
                    {% endif %}
                    {% if paciente.institucion == 5 %}  
                    <span>Seguro popular</span>               
                    {% endif %}
                    {% if paciente.institucion == 6 %}  
                    <span>SEDENA</span>               
                    {% endif %}
                </td>
                <td>{{ paciente.ocupacion }}</th>
                <td>{{ paciente.domicilio }}</th>
                <td>
                    {% if paciente.est_civil == 1 %}  
                    <span>Soltero</span>               
                    {% endif %}
                    {% if paciente.est_civil == 2 %}  
                    <span>Casado</span>               
                    {% endif %}
                    {% if paciente.est_civil == 3 %}  
                    <span>Viudo</span>               
                    {% endif %}
                    {% if paciente.est_civil == 4 %}  
                    <span>Concubino</span>               
                    {% endif %}
                    
                </th>
                <td>{% if paciente.sexo == 1 %}  
                    <span>Mujer</span>  
                  {% else %}  
                    <span>Hombre</span>  
                  {% endif %}</th>
                <td>{{ paciente.id_estado_fk}}</th>

                <td>
                </td>
            </tr>
            {% empty %}
            <h3>Aún no hay pacientes registrados.</h3>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
