{% extends 'base/base_administrador.html' %}
{% block title %}Registrar Paciente{% endblock %}
{% block encabezado %}Registrar Paciente{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
    <button type="submit" id="guardar_paciente" class="btn btn-primary btn-lg">
        Guardar
    </button>
</form>

{% endblock %}
