{% extends 'base/base_administrador.html' %}
{% load static %}
{% block title %}Antecedentes Paciente {% endblock %}
{% block encabezado_pagina %}Antecedentes en curso{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <h3>Antecedentes Paciente</h3>
    {{ form.as_p }}
    <h3>Antecedentes Heredofamiliares</h3>
    {{ form_2.as_p }}
    
    <button type="submit"  id="trans_ant" class="btn btn-primary btn-lg">
        Guardar
    </button>
</form>

{% endblock %}