{% extends 'base/base_administrador.html' %}
{% load filtros %}
{% load static %}
{% block title %}Antecedentes Paciente{% endblock %}
{% block encabezado_pagina %}Antecedentes {% endblock %}

{% block content %}

<input id="filter"  name="busqueda_antecedentes" type="text" class="form-control"
       placeholder="Buscar Paciente" onkeyup="search_table()" >

<hr>

<div class="form-control" >
<h6>Ordenar por:
<select onchange="OrdenarAnt(this)">
            <option value="-"> - </option>
            <option value="nombre_paciente">Nombre</option> 
            <option value="ap_paterno">Apellido Paterno</option>  
            <option value="ap_materno">Apellido Materno</option>            
</select>
</h6>
    <table id="idTableAnt" class="table table-striped">
        <thead>

        <th>#</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>

        </thead>
        <tbody class="searchable">
          <tr>
            {% for paciente in pacientes %}

            <td>{{ forloop.counter }}</td>
            <td>{{ paciente.nombre_paciente }}</td>
            <td>{{ paciente.ap_paterno }}</td>
            <td>{{ paciente.ap_materno }}</td>
            </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary"
                            href="{% url 'crear_antecedente' pk=paciente.id_paciente %}"
                            id="inicia_ant">
                            Llenar Antecedentes
                        </a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <h3>Aún no hay Antecedentes de Paciente.</h3>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}