{% extends 'base/base_administrador.html' %}
{% load static %}
{% block title %}Cita en curso{% endblock %}
{% block encabezado_pagina %}Cita en curso{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <h3>Datos</h3>
    {{ form.as_p }}
    <h3>Adherencia</h3>
    {{ formAd.as_p }}
    <h3>Estadificacion</h3>
    {{ formEst.as_p }}
    <button type="submit" id="atiende_cita" class="btn btn-primary btn-lg">
        Guardar
    </button>
</form>

{% endblock %}
