{% extends 'base/base_administrador.html' %}
{% load static %}
{% block title %}Antecedentes en curso{% endblock %}
{% block encabezado_pagina %}Antecedentes en curso{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
    {{ form.as_p }}
    
    <button type="submit" id="crear_ant" class="btn btn-primary btn-lg">
        Siguiente
    </button>
</form>

{% endblock %}