{% extends 'base/base_administrador.html' %}
{% load static %}
{% block title %}Antecedentes en curso{% endblock %}
{% block encabezado_pagina %}Antecedentes en curso{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <h3>Antecedentes Personales Patológicos</h3>
    {{ form.as_p }}
    <h3>Hospitalización</h3>
    {{ form_2.as_p }}
    
    <button type="submit" id="crear_pato" class="btn btn-primary btn-lg">
        Siguiente
    </button>
</form>

{% endblock %}