{% extends 'base/base_administrador.html' %}
{% load static %}
{% block title %}Antecedentes Embarazo{% endblock %}
{% block encabezado_pagina %}Antecedentes Embarazo{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
    <button type="submit" id="llena_embarazo_ant" class="btn btn-primary btn-lg">
        Guardar
    </button>
</form>

{% endblock %}
