{% extends 'base/base_administrador.html' %}
{% load static %}
{% block title %}Modifica Médico{% endblock %}
{% block encabezado_pagina %}Modifica Médico {% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
    <button type="submit" id="editar_medico" class="btn btn-primary btn-lg">
        Guardar
    </button>
</form>

{% endblock %}
