{% extends 'base/base_administrador.html' %}
{% load filtros %}
{% load static %}
{% block title %}Médico Lista{% endblock %}
{% block encabezado_pagina %}Médico Lista {% endblock %}

{% block content %}


<input id="filter"  name="busqueda_medico" type="text" class="form-control"
       placeholder="Buscar Médico" onkeyup="search_table()" >

<hr>

<div class="form-control" >
<h6>Ordenar por:
<select onchange="ordenarmed(this)">
            <option value="-"> - </option>
            <option value="nombre">Nombre</option>
            <option value="ap_paterno">Apellido Paterno</option>
            <option value="ap_materno">Apellido Materno</option>
            <option value="rfc">RFC</option>
</select>
</h6>
    <table id="idTableMedc" class="table table-striped">
        <thead>

        <th>#</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>RFC</th>
        <th>Fecha de Nacimiento</th>
        <th>Email</th>
        </thead>
        <tbody class="searchable">
          <tr>
            {% for medico in medicos %}
                <td>{{ forloop.counter }}</td>
                <td id="medico-nombre-{{ medico.user_ptr_id }}">{{ medico.nombre }}</td>
                <td id="medico-appaterno-{{ medico.user_ptr_id }}">{{ medico.ap_paterno }}</td>
                <td id="medico-apmaterno-{{ medico.user_ptr_id }}">{{ medico.ap_materno }}</td>
                <td id="medico-rfc-{{ medico.user_ptr_id }}">{{ medico.rfc }}</td>
                <td id="medico-nacimiento-{{ medico.user_ptr_id }}">{{ medico.nacimiento }}</td>
                <td id="medico-email-{{ medico.user_ptr_id }}">{{ medico.email }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary"
                           href="{% url 'medico_modifica' pk=medico.user_ptr_id %}"
                           id="edita_medico">
                           Editar
                        </a>
                        <a class="btn btn-link ver-medico" data-toggle="modal"
                          data-target="#modal-medico"
                           id="{{ medico.user_ptr_id }}">
                           Ver
                        </a>
                    </div>
                  </td>
            </tr>
            {% empty %}
            <h3>Aún no hay medicos registrados.</h3>
            {% endfor %}
        </tbody>
    </table>
    <div class="modal fade" id="modal-medico" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Datos Médico</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="ver_medico">
                  <div class="row">
                      <div class="form-group col-md-6">
                          <h5>Nombre: </h5>
                          <label id="nombre-medico"></label>
                          <br>
                          <h5>RFC :</h5>
                          <label id="rfc-medico"></label>
                          <br>
                          <h5>Fecha de Nacimiento: </h5>
                          <label id="fechanac-medico"></label>
                          <br>
                          <h5>Correo electrónico: </h5>
                          <label id="email-medico"></label>
                      </div>
                  </div>
              </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
