{% extends 'base/base_administrador.html' %}
{% load static %}
{% block title %}Modifica Paciente{% endblock %}
{% block encabezado_pagina %}Modifica Paciente {% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
    {{ form.as_p }}
    {{ form_2.as_p }}
    {{ form_3.as_p }}
    <button type="submit" id="editar_paciente" class="btn btn-primary btn-lg">
        Guardar
    </button>
</form>

{% endblock %}
