{% extends 'base/base_administrador.html' %}
{% load filtros %}
{% load static %}
{% block title %}Lista Pacientes{% endblock %}
{% block encabezado_pagina %}Lista Pacientes {% endblock %}

{% block content %}

<input id="filter"  name="busqueda_medico" type="text" class="form-control"
       placeholder="Buscar Paciente" onkeyup="search_table()" >

<hr>

<div class="form-control" >
<h6>Ordenar por:
<select onchange="ordenarpac(this)">
            <option value="-"> - </option>
            <option value="nombre_paciente">Nombre</option>
            <option value="ap_paterno">Apellido Paterno</option>
            <option value="ap_materno">Apellido Materno</option>
            <option value="institucion">Institucion</option>
</select>
</h6>
    <table id="idTablePac" class="table table-striped">
        <thead>
            
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Edad</th>
        <th>Fecha de Nacimiento</th>
        <th>Institucion</th>
        <th>Sexo</th>


        </thead>
        <tbody class="searchable">
          <tr>
            {% for paciente in pacientes %}

            <td>{{ forloop.counter }}</td>
            <td id="paciente-nombre-{{ paciente.id_paciente}}"> {{ paciente.nombre_paciente }}</td>
            <td id="paciente-appaterno-{{ paciente.id_paciente}}">{{ paciente.ap_paterno }}</td>
            <td style="display:none" id="paciente-apmaterno-{{ paciente.id_paciente}}">{{ paciente.ap_materno }}</td>
            <td id="paciente-edad-{{ paciente.id_paciente}}">{{ paciente.edad }}</td>
            <td id="paciente-nacimiento-{{ paciente.id_paciente}}">{{ paciente.nacimiento }}</td>
            <td style="display:none;" id="paciente-derhab-{{ paciente.id_paciente}}">
                {% if paciente.der_hab == 0 %}  
                <span>Si</span>               
                {% endif %}
                {% if paciente.der_hab == 1 %}  
                <span>No</span>               
                {% endif %}
            </td>
            <td id="paciente-institucion-{{ paciente.id_paciente}}">
                {% if paciente.institucion == 1 %}  
                <span>Privada</span>               
                {% endif %}
                {% if paciente.institucion == 2 %}  
                <span>ISSSTE</span>               
                {% endif %}
                {% if paciente.institucion == 3 %}  
                <span>IMSS</span>               
                {% endif %}
                {% if paciente.institucion == 4 %}  
                <span>Seguro social</span>               
                {% endif %}
                {% if paciente.institucion == 5 %}  
                <span>Seguro popular</span>               
                {% endif %}
                {% if paciente.institucion == 6 %}  
                <span>SEDENA</span>               
                {% endif %}
            </td>
            <td style="display:none;" id="paciente-ocupacion-{{ paciente.id_paciente}}">{{ paciente.ocupacion }}</td>
            <td style="display:none;" id="paciente-domicilio-{{ paciente.id_paciente}}">{{ paciente.domicilio }}</td>
            <td style="display:none;" id="paciente-estcivil-{{ paciente.id_paciente}}">
                {% if paciente.est_civil == 1 %}  
                <span>Soltero</span>               
                {% endif %}
                {% if paciente.est_civil == 2 %}  
                <span>Casado</span>               
                {% endif %}
                {% if paciente.est_civil == 3 %}  
                <span>Viudo</span>               
                {% endif %}
                {% if paciente.est_civil == 4 %}  
                <span>Concubino</span>               
                {% endif %}
                
            </td>
            <td id="paciente-sexo-{{ paciente.id_paciente}}">{% if paciente.sexo == 1 %}  
                <span>Mujer</span>  
              {% else %}  
                <span>Hombre</span>  
              {% endif %}</td>
            <td style="display:none;" id="paciente-estado-{{ paciente.id_paciente}}">{{ paciente.id_estado_fk}}</td>
            <td style="display:none;" id="paciente-municipio-{{ paciente.id_paciente}}">{{ paciente.id_municipio_fk}}</td>
                <td>
                    <div class="btn-group">
                            <a class="btn btn-primary"
                            href="{% url 'paciente_modifica' pk=paciente.id_paciente %}"
                            id="edita_paciente">
                            Editar
                            </a>
                            <a class="btn btn-link ver-paciente" data-toggle="modal"
                                data-target="#modal-paciente"
                                id="{{ paciente.id_paciente }}">
                                Ver
                            </a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <h3>Aún no hay pacientes registrados.</h3>
            {% endfor %}
        </tbody>
    </table>
    <div class="modal fade" id="modal-paciente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Datos Paciente</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="ver_paciente">
                      <div class="row">
                          <div class="form-group col-md-6">
                              <h5>Nombre: </h5>
                              <label id="nombre-paciente"></label>
                              <br>
                              <h5>Edad:</h5>
                              <label id="edad-paciente"></label>
                              <br>
                              <h5>Fecha de Nacimiento: </h5>
                              <label id="fechanac-paciente"></label>
                              <br>
                              <h5>Derechohabiencia: </h5>
                              <label id="derhab-paciente"></label>
                              <h5>Institución: </h5>
                              <label id="institucion-paciente"></label>
                              <br>
                              <h5>Ocupación: </h5>
                              <label id="ocupacion-paciente"></label>
                              <br>
                              <h5>Domicilio: </h5>
                              <label id="domicilio-paciente"></label>
                              <br>
                              <h5>Estado Civil: </h5>
                              <label id="estcivil-paciente"></label>
                              <br>
                              <h5>Sexo: </h5>
                              <label id="sexo-paciente"></label>
                              <br>
                              <h5>Estado: </h5>
                              <label id="estado-paciente"></label>
                              <br>
                              <h5>Municipio: </h5>
                              <label id="municipio-paciente"></label>
                              <br>
                          </div>
                      </div>
                  </form>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
</div>
{% endblock %}
