{% extends 'base/base_administrador.html' %}
{% load static %}
{% block title %}Tratamiento en curso{% endblock %}
{% block encabezado_pagina %}Tratamiento en curso{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
    {{ form.as_p }}
    {{ form_2.as_p }}
    {{ form_3.as_p }}
    <button type="submit" id="crear_trat" class="btn btn-primary btn-lg">
        Siguiente
    </button>
</form>

{% endblock %}