{% extends 'base/base_administrador.html' %}
{% load static %}
{% block title %}Antecedentes en Curso{% endblock %}
{% block encabezado_pagina %}Antecedentes en Curso{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
    <button type="submit" id="siguiente" class="btn btn-primary btn-lg">
        Siguiente
    </button>
</form>

{% endblock %}
