#signup {
   padding: 0px 25px 25px;
   background: #fff;
   box-shadow:
       0px 0px 0px 5px rgba( 255,255,255,0.4 ),
       0px 4px 20px rgba( 0,0,0,0.33 );
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   display: table;
   position: static;
}

#signup .header {
   margin-bottom: 20px;
}

#signup .header h3 {
   color: #333333;
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 5px;
   text-align: center;
   margin-top: 20px;
}

#signup .header p {
   color: #8f8f8f;
   font-size: 14px;
   font-weight: 300;
}

#signup .sep {
   height: 1px;
   background: #e8e8e8;
   width: 406px;
   margin: 0px -25px;
}

#signup .inputs {
   margin-top: 25px;
}

#signup .inputs label {
   color: #8f8f8f;
   font-size: 12px;
   font-weight: 300;
   letter-spacing: 1px;
   margin-bottom: 7px;
   display: block;
}

input::-webkit-input-placeholder {
   color:    #b5b5b5;
}

input:-moz-placeholder {
   color:    #b5b5b5;
}

#signup .inputs input[type=text], input[type=password] {
   background: #f5f5f5;
   font-size: 0.8rem;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   border: none;
   padding: 13px 10px;
   width: 330px;
   margin-bottom: 20px;
   box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
   clear: both;
}

#signup .inputs input[type=text]:focus, input[type=password]:focus {
   background: #fff;
   box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
   outline: none;
}

#signup .inputs .checkboxy {
   display: block;
   position: static;
   height: 25px;
   margin-top: 10px;
   clear: both;
}

#signup .inputs input[type=checkbox] {
   float: left;
   margin-right: 10px;
   margin-top: 3px;
}

#signup .inputs label.terms {
   float: left;
   font-size: 14px;
   font-style: italic;
}

#signup .inputs #submit {
   width: 100%;
   margin-top: 20px;
   padding: 15px 0;
   color: #fff;
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 1px;
   text-align: center;
   text-decoration: none;
       background: -moz-linear-gradient(
       top,
       #b9c5dd 0%,
       #a4b0cb);
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   border: 1px solid #737b8d;
   -moz-box-shadow:
       0px 5px 5px rgba(000,000,000,0.1),
       inset 0px 1px 0px rgba(255,255,255,0.5);
   -webkit-box-shadow:
       0px 5px 5px rgba(000,000,000,0.1),
       inset 0px 1px 0px rgba(255,255,255,0.5);
   box-shadow:
       0px 5px 5px rgba(000,000,000,0.1),
       inset 0px 1px 0px rgba(255,255,255,0.5);
   text-shadow:
       0px 1px 3px rgba(000,000,000,0.3),
       0px 0px 0px rgba(255,255,255,0);
   display: table;
   position: static;
   clear: both;
}

#signup .inputs #submit:hover {
   background: -moz-linear-gradient(
       top,
       #a4b0cb 0%,
       #b9c5dd);
}

.container-login {
   width: 406px;
   max-width: 406px;
   margin: 0 auto;
}

.panel-title {
   text-align: center;
}

.imagen-capasits {
  padding-left: 80px;
}

.navbar {
  background-color: #f0bdf4;
}
.navbar .navbar-brand {
  color: #000000;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #000000;
}
.navbar .navbar-text {
  color: #000000;
}
.navbar .navbar-text a {
  color: #000000;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #000000;
}
.navbar .navbar-nav .nav-link {
  color: #000000;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #000000;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #f0bdf4;
  border-color: #f4f0f6;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #000000;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #000000;
  background-color: #f4f0f6;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #f4f0f6;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #000000;
  background-color: #f4f0f6;
}
.navbar .navbar-toggle {
  border-color: #f4f0f6;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #f4f0f6;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #000000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #000000;
}
.navbar .navbar-link {
  color: #000000;
}
.navbar .navbar-link:hover {
  color: #000000;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #000000;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #f4f0f6;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #000000;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #f4f0f6;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #000000;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #f4f0f6;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #000000;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #f4f0f6;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #000000;
  background-color: #f4f0f6;
}

.col-center{
  float: none;
  margin-left: auto;
  margin-right: auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid#f0bdf4;
    margin: 1em 0;
    padding: 0;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f0bdf4;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #f4f0f6;
      }
