{% extends 'base/base_administrador.html' %}
{% block title %}Registrar Antecedentes Paciente{% endblock %}
{% block encabezado %}Registrar Antecedentes Paciente{{% endblock %}

{% block content %}
<form method="POST" action="{% url 'paciente_alta' %}">
	{% csrf_token %}
	<div class="form-control" >
			<div class="row">
				<div class="col-md-7 col-center">
							<hr>
							<label for="inicio_sexual" >Inicio Sexual</label>
							<input id="inicio_sexual" type="text" name="inicio_sexual"class="col-md-7 col-center">
							<p> </p>
							<label for="num_parejas">Número de Parejas</label>
							<input id="num_parejas" type="text" name="num_parejas"class="col-md-7 col-center">
							<p> </p>
							<label for="edad_prob">Edad probable</label>
							<input id="edad_prob" type="text" name="edad_prob"class="col-md-7 col-center">
							<p> </p>
							<label for="inicio_vih">Inicio del VIH</label>
							<input id="inicio_vih" type="text" name="inicio_vih" class="col-md-7 col-center">
							<p> </p>
							<label for="met_diag">Metodo Diagóstico</label>	
							<select id="met_diag">
								<option value="1">Pruebas de deteccion: Prueba de Elisa</option>
								<option value="2">Pruebas de confirmacion: WESTERN BLOT</option>
								<option value="3">Pruebas de deteccion: Prueba de Elisa</option>
							</select>
							<p> </p>
							<label for="anticonceptivo">Anticonceptivo</label>
							<select id="anticonceptivo">
									<option value="1">Preservativo Masculino</option>
									<option value="2">Preservativo Femenino</option>
									<option value="3">Espermicida</option>
									<option value="4">Diafragma</option>
									<option value="5">Esponja Vaginal</option>
									<option value="6">Pildora</option>
									<option value="7">Pildora del dia déspues</option>
									<option value="8">Minipildora Progestageno</option>
									<option value="9">Adhesivo anticonceptivo</option>
									<option value="10">Anillo vaginal</option>
									<option value="11">Anticonceptivo inyectable</option>
									<option value="12">Implante anticonceptivo</option>
									<option value="13">Vasectomia de trompas</option>
									<option value="14">Metodo del calendario menstrual</option>
									<option value="15">Coito interrumpido</option>
									<option value="16">Moco cervical</option>
									<option value="17">Lactancia materna</option>
								</select>
							<p> </p>	
							<label for="hist_inmunizacion">Historial de Inmunización</label>
							<select id="hist_inmunizacion">
									<option value="1">BCG</option>
									<option value="2">Neumocco</option>
									<option value="3">Hepatitis A</option>
									<option value="4">Hepatitis B</option>
									<option value="5">Sabin o Pentavalente</option>
									<option value="6">Hexavalente</option>
									<option value="7">Influenza</option>
									<option value="8">Haemophilus</option>
									<option value="9">Tripe viral</option>
									<option value="10">Varicela</option>
									<option value="11">Rotavirus</option>
							</select>
							<p> </p>	
							<label for="factor_riesgo">Factor de Riesgo</label>
							<select id="factor_riesgo">
									<option value="1">Adquisición</option>
									<option value="1">Prácticas sexuales</option>
									<option value="1">Herencia</option>
									<option value="1">Jeringas infectadas</option>
									<option value="1">Pinchazo infectado al momento de la prueba</option>
							</select>
							<p> </p>
							<input type="hidden" name="id_paciente_fk_id" value="{{id}}">
					<button type="submit" id="guardar_ant_paciente" class="btn btn-primary btn-lg">
						Guardar
					</button>
					</div>
			</div>
		</div>
</form>

{% endblock %}
