{% extends 'base/base_administrador.html' %}
{% load static %}
{% block title %}Registrar Paciente{% endblock %}
{% block encabezado_pagina %}Registrar Paciente {% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
	<div class="form-control" >
			<div class="row">
				<div class="col-md-7 col-center">
							{{ form.as_p }}
							{{ form_2.as_p }}
							{{ form_3.as_p }}
		    		<button type="submit" id="guardar_paciente" class="btn btn-primary btn-lg">
		        		Guardar
		    		</button>
				</div>
			</div>
		</div>
</form>

{% endblock %}
