{% extends 'base/base_administrador.html' %}
{% load static %}
{% block title %}Cita en curso{% endblock %}
{% block encabezado_pagina %}Cita en curso{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
    <button type="submit" id="atiende_cita" class="btn btn-primary btn-lg">
        Guardar
    </button>
</form>

{% endblock %}
